@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

:root {
    --white: #FFFFFF;
    --black: #2B292D;
    --default: #3040C4;
    --focus: #7E8AEE;
}

* {
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    color: var(--black);
}

html, body {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6, p, ul {
    margin-block-start: 0;
    margin-block-end: 0;
}

h1 {
    font-size: 40px;
    font-weight: bold;
    letter-spacing: -0.05em;
    line-height: 1;
}

h2 {
    font-size: 34px;
    font-weight: bold;
    letter-spacing: -0.03em;
    line-height: 1.05;
}

h3 {
    font-size: 22px;
    font-weight: bold;
    letter-spacing: -0.04em;
    line-height: 1.36;
}

p {
    font-size: 16px;
    font-weight: normal;
    letter-spacing: -0.01em;
    line-height: 1.5;
}

button {
    display: block;
    width: 140px;
    height: 48px;
    padding: 0;
    border: none;
    border-radius: 2px;
    font-family: 'DM Sans', sans-serif;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: -0.01em;
    line-height: 1.6;
    cursor: pointer;
}

.button-blue {
    color: var(--white);
    background-color: var(--default);
    transition: background-color 0.25s;
}

.button-blue:hover {
    background-color: var(--focus);
}

.button-white {
    color: var(--default);
    background-color: var(--white);
    transition: background-color 0.25s;
}

.button-white:hover {
    color: var(--focus);
}

.category {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -0.01em;
    line-height: 1.5;
    margin-bottom: 8px;
}

/* landing */
.landing {
    height: 100vh;
    background-color: #FDDED8;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-title {
    margin-bottom: 24px;
}

.landing-desc {
    line-height: 1.375;
    margin-bottom: 24px;
}

.landing-buttons {
    display: flex;
    justify-content: center;
}

.landing-button {
    margin-right: 8px;
}

.landing-button:last-child {
    margin: 0;
}

/* service */
.service {
    padding: 80px 0;
    background-color: #F4F5F7;
}

.service-item {
    margin-bottom: 40px;
}

.service .col-12:last-child .service-item {
    margin: 0;
}

.service-title {
    margin-bottom: 16px;
}

/* program & curriculum */
.program,
.curriculum {
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.program .row,
.curriculum .row {
    justify-content: center;
}

.program .category {
    color: #009B4D;
}

.curriculum .category {
    color: #0189D1;
}

.program-title,
.curriculum-title {
    margin-bottom: 24px;
}

.program-desc,
.curriculum-desc {
    margin-bottom: 32px;
}

.program-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.program-card {
    width: 290px;
    height: 290px;
    padding: 24px;
    color: var(--black);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #FFFFFF;
    background-blend-mode: overlay, normal;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    margin-bottom: 20px;
}

.program-card:last-child {
    margin: 0;
}

.program-card-image {
    height: 195px;
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}

.program-card-text {
    width: 100%;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.33;
    text-align: center;
    color: inherit;
}

.curriculum-button {
    margin-bottom: 48px;
}

.curriculum-image {
    width: 450px;
    height: 450px;
    margin-bottom: 36px;
    display: none;
}

.curriculum-image img {
    height: 100%;
}

.curriculum-item {
    font-size: 15px;
    font-weight: normal;
    line-height: 1.46;
    margin-bottom: 40px;
}

.curriculum-item strong {
    font-weight: bold;
}

.curriculum .col-12:last-child .curriculum-item {
    margin: 0;
}

/* banner */
.banner {
    background-color: #F2F8FA;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner .col-12 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-image {
    width: 290px;
    height: 240px;
    padding: 25px 50px;
    margin-bottom: 16px;
}

.banner-image img {
    width: 100%;
}

.banner-title {
    font-size: 32px;
    font-weight: bold;
    letter-spacing: -0.05em;
    line-height: 1;
    margin-bottom: 16px;
}

.banner-desc {
    text-align: center;
    margin-bottom: 24px;
}

.banner-form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.banner-input,
.banner-button {
    width: 100%;
}

.banner-input {
    height: 48px;
    padding: 12px 16px;
    border: none;
    border-radius: 2px;
    font-size: 16px;
    letter-spacing: -0.01em;
    line-height: 1.5;
    margin-bottom: 8px;
}

.banner input::placeholder {
    color: #7B7B7E;
}

.banner-button {
    margin-bottom: 8px;
}

.banner-misc {
    font-size: 13px;
    line-height: 1.53;
    color: #7B7B7E;
}

.banner-misc strong {
    font-weight: normal;
    text-decoration-line: underline;
    color: #3040C4;
}

/* footer */
.footer {
    padding: 24px 0;
}

.footer li {
    height: 24px;
    font-size: 14px;
    letter-spacing: -0.01em;
    line-height: 1.71;
    color: #807F81;
    margin-bottom: 8px;
}

.footer li:last-child {
    margin: 0;
}

@media screen and (min-width: 768px) {

    h1 {
        font-size: 70px;
        line-height: 1.02;
    }

    h2 {
        font-size: 56px;
        line-height: 1;
    }

    button {
        width: 160px;
        height: 56px;
        font-size: 18px;
        line-height: 1.55;
    }

    /* landing */
    .landing {
        height: 568px;
        padding: 120px 0;
    }

    .landing-title {
        margin-bottom: 32px;
    }

    .landing-desc {
        font-size: 22px;
        line-height: 1.45;
        margin-bottom: 32px;
    }

    /* service */
    .service-item {
        margin: 0;
    }

    /* program & curriculum */
    .program .row {
        text-align: center;
        align-items: center;
    }

    .program-desc {
        max-width: 770px;
        margin: 0 auto 72px;
    }

    .program-cards {
        flex-direction: row;
    }

    .program-card {
        margin-bottom: 0;
        margin-right: 30px;
        cursor: pointer;
        transition: background-color 0.5s, color 0.5s;
    }

    .program-card:last-child {
        margin: 0;
    }

    .program-card:hover {
        background-color: var(--default);
        color: var(--white);
    }

    .curriculum-image {
        display: block;
    }

    .curriculum-item {
        max-width: 450px;
    }

    /* banner */
    .banner {
        padding: 80px;
    }

    .banner .row {
        align-items: center;
    }

    .banner .col-12 {
        align-items: flex-start;
    }

    .banner-image {
        width: 370px;
        height: 300px;
        padding: 8px 0;
        margin-bottom: 16px;
    }
    
    .banner-image img {
        height: 100%;
    }

    .banner-title {
        font-size: 40px;
    }

    .banner-desc {
        width: 100%;
        max-width: 530px;
        font-size: 22px;
        letter-spacing: -0.01em;
        line-height: 1.45;
        text-align: left;
    }

    .banner-form {
        flex-direction: row;
        margin-bottom: 8px;
    }

    .banner-input {
        flex: 1;
        height: 56px;
        padding: 16px;
        font-size: 18px;
        line-height: 1.33;
        margin-bottom: 0;
        margin-right: 8px;
    }

    .banner-button {
        width: 160px;
        margin: 0;
    }

    /* footer */
    .footer {
        padding: 24px 0;
    }

    .footer li {
        display: inline-block;
        margin-bottom: 0;
        margin-right: 16px;
    }
}